<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Theme\Block\Html\Topmenu" type="Pos\Custommodule\Block\Html\Topmenu" />
    <preference for="Magento\Catalog\Block\Product\View" type="Pos\Custommodule\Block\Product\View" />
    <preference for="Pos\Custommodule\Api\Data\CustomOptionsInterface" type="Pos\Custommodule\Model\CustomOptions" />
    <preference for="Magento\Checkout\Block\Onepage\Success" type="Pos\Custommodule\Block\Checkout\Success"/>
    <preference for="Pos\Custommodule\Model\CustommoduleMailInterface" type="Pos\Custommodule\Model\Mail" />

    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="get_customer_notes" type="Pos\Custommodule\Plugin\Model\Sales\Order" />
    </type>

    <type name="Magento\Catalog\Controller\Product\View">
        <plugin name="MagentoCatalogControllerProductView" type="Pos\Custommodule\Plugin\Controller\Product\View" sortOrder="10" disabled="false"/>
    </type>

    <type name="Magento\Catalog\Controller\Category\View">
        <plugin name="MagentoCatalogControllerCategoryView" type="Pos\Custommodule\Plugin\Controller\Category\View" sortOrder="10" disabled="false"/>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="update_order_item_ids" xsi:type="object">Pos\Custommodule\Command\UpdateOrderItemIds</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\CatalogUrlRewrite\Model\CategoryUrlPathGenerator">
        <plugin name="pos_category_url_path_generator" type="Pos\Custommodule\Plugin\Model\CategoryUrlPathGenerator" sortOrder="15"/>
    </type>
</config>