.store-switcher {
  float: none;
}
#edit_form table {
  margin-bottom: 12px;
}
#edit_form table thead td {
  font-weight: bold;
}
#edit_form table td {
  vertical-align: top;
  padding: 7px 16px;
}
#edit_form table td input {
  padding: 1px 4px;
  box-sizing: border-box;
}
#edit_form table tbody tr:nth-child(2n+1) td {
  background-color: #f5f5f5;
}
#edit_form table tbody tr:nth-child(2n) td {
  background-color: white;
}
#edit_form table tbody td {
  border-left: 0.1rem dashed #d6d6d6;
  border-right: 0.1rem dashed #d6d6d6;
}
#edit_form table tbody td:last-child {
  border-right: none;
}
#edit_form table tbody td:first-child {
  border-left: none;
}
#edit_form table tbody .placeholder td {
  border: 1px dashed #ccc;
  text-align: center;
}
#edit_form table tbody .placeholder {
  display: none;
}
#edit_form table tbody .placeholder:only-child {
  display: table-row;
}
#edit_form table td:first-child {
  vertical-align: middle;
}
#edit_form table td.center {
  text-align: center;
}
#edit_form table td.middle {
  vertical-align: middle;
}
#edit_form table td.default-value,
#edit_form table td.required {
  width: 100px;
}
#edit_form table .draggable-handle {
  background: url(../../Magento_Backend/images/draggable-handle-vertical.png) no-repeat 0 0;
  color: #b2b0ad;
  cursor: ns-resize;
  height: 14px;
  line-height: 14px;
  margin: 0;
  vertical-align: top;
  width: 8px;
}
#edit_form .width-control input {
  display: inline-block;
  width: 40px;
}
#edit_form .width-control .ui-slider {
  display: inline-block;
  width: 50px;
  margin-right: 12px;
}
.fields-comment {
  margin: 12px 0 7px;
}
