<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Ups\Model\Carrier" type="Pos\Shipping\Model\Ups\Carrier" />
    <type name="Magento\Framework\DB\Sequence\SequenceInterface">
        <arguments>
            <argument name="pattern" xsi:type="string">%s%'.06d%s</argument>
        </arguments>
    </type>
    <type name="Magento\Directory\Model\ResourceModel\Region\Collection">
        <plugin name="Pos_Shipping_Limit_State_Filter_Plugin" type="Pos\Shipping\Plugin\PosStateFilter"/>
    </type>
</config>