<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="pospaper" translate="label" sortOrder="10">
            <label>POS Paper</label>
        </tab>
        <section id="pospaper_settings" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>General Settings</label>
            <tab>pospaper</tab>
            <resource>Pos_Custommodule::custommodule_settings</resource>
            <group id="homepage" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="products" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Homepage Products</label>
                    <comment>Enter comma-separated list of SKUs</comment>
                </field>
            </group>
        </section>
        <section id="pospaper_purchase_orders" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Purchase Orders</label>
            <tab>pospaper</tab>
            <resource>Pos_Custommodule::custommodule_settings</resource>
            <group id="settings" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Settings</label>
                <field id="customer_groups" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Groups</label>
                    <comment>Enter comma-separated list of Customer Groups</comment>
                </field>
            </group>
        </section>
    </system>
</config>
