<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Pos_CreditApp::pos_creditapp_creditapp" title="Credit Applications" module="Pos_CreditApp" sortOrder="9999" parent="Magento_Customer::customer" action="pos_creditapp/creditapp/index" resource="Magento_Backend::content"/>
	</menu>
</config>
